@import url("https://fonts.googleapis.com/css?family=Raleway:400,700|Ubuntu:400,400i,700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: #072620;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-family: "Raleway";
  margin: 10px;
}

h2 {
  font-size: 1.3rem;
}

button {
  font-size: 1rem;
  margin: 5px;
  padding: 8px 12px;
  border-radius: 3px;
  color: white;
  background: rgb(37, 111, 238);
  border: none;
  outline: none;
}
button:disabled {
  background: rgb(151, 168, 198);
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title cart";
  padding: 5px 10px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#072620+49,072620+50,44ff4b+50 */
  background: #072620; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #072620 49%,
    #072620 50%,
    #57f95d 50%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #072620 49%,
    #072620 50%,
    #57f95d 50%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #072620 49%,
    #072620 50%,
    #57f95d 50%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#072620', endColorstr='#44ff4b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.header h1.title {
  font-family: "Raleway";
  color: #fff;
}

.banner {
  width: 100%;
  height: 150px;
  background-image: url("images/bikes.jpg");
  background-position: right 70%;
}

main {
}

.cart-summary {
  grid-area: cart;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

h1.title {
  grid-area: title;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

#cart-drop-anchor {
  display: block;
  text-align: right;
}

#promo,
#info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

#shop-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.shop-index * {
  border-radius: 5px;
}

.store-product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#cart {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  background: white;
  padding: 10px;
  max-width: 100vw;
  width: 600px;
  z-index: 1;
  border-radius: 3px;
  -webkit-box-shadow: 0px 5px 5px 3px rgba(7, 38, 32, 0.5);
  -moz-box-shadow: 0px 5px 5px 3px rgba(7, 38, 32, 0.5);
  box-shadow: 0px 5px 5px 3px rgba(7, 38, 32, 0.5);
}

.cart-item {
  width: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.cart-item > * {
  padding: 8px;
}
.cart-item img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  padding: 6px;
}

.cart-item-interior {
  text-align: center;
}

#item-amount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-less {
  display: flex;
  justify-content: center;
}
button#less,
  button#more {
    display: flex;
    justify-content: center;
    align-items: center;
  }

#checkout {
  margin: 8px;
}

.footer {
  margin: 20px auto 10px;
  font-size: 0.7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "cart"
      "title";
    background: #072620;
    padding: 0;
  }
  .cart-item button {
    font-size: 0.8rem;
    margin: 1px;
    padding: 2px;
  }
  button#less,
  button#more {
    width: 45%;
  }
  .cart-summary {
    background: #57f95d;
    padding: 8px;
  }
  .cart-item > * {
    font-size: 0.7rem;
  }
}
